@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --font-sans: "departure", sans-serif;
}

@font-face {
  font-family: 'departure';
  src: url('../src/assets/fonts/DepartureMono-Regular.woff2') format('woff2'),
       url('../src/assets/fonts/DepartureMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}